@import "~antd/dist/antd.css";

.login-card {
  max-width: 340px;
}

.login-form {
  max-width: 300px;
}

.login-form-button {
  width: 100%;
}
.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}
[data-theme="dark"] .site-card-wrapper {
  background: #303030;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.task-card {
  width: calc(25% - 5px);
  margin: 1px;
  border-radius: 2px;
}
.task-card .color-picker {
  position: absolute !important;
  border-radius: 2px !important;
  margin-top: 4px;
  z-index: 1000;
}
